ALLOWED_HOSTS=localhost
CLOUDINARY_API_KEY=YOUR_KEY
CLOUDINARY_API_SECRET=SECRET
CLOUDINARY_CLOUD_NAME=NAME
DATABASE_URL="URL"
DEBUG=False
DJANGO_SUPERUSER_EMAIL=EMAIL
DJANGO_SUPERUSER_PASSWORD=PASSWORD
DJANGO_SUPERUSER_USERNAME=USERNAME
EMAIL_HOST_PASSWORD=PASSWORD
RESEND_API_KEY=API_KEY
SECRET_KEY="KEY"